{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
   <tbody>

            <tr>
                <td class="text-start">{{dict_res['symbol']}}</td>
                <td class="text-start">{{dict_res['name']}}</td>
                <td class="text-end">{{dict_res['qty']}}</td>
                <td class="text-end">{{dict_res['price'] | usd}}</td>
                <td class="text-end">{{dict_res['cost'] | usd}}</td>
            </tr>

    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">${{dict_res['cash']}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">$10,000.00</td>
        </tr>
    </tfoot>
</table>
{% endblock %}