{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/new" method="post">
        <div class="mb-3">
            <p>Please select a level:</p>
            <input type="radio" name="level" value="easy" checked>
            <label for="easy">Easy</label>
            <input type="radio" name="level" value="medium">
            <label for="medium">Medium</label>
            <input type="radio" name="level" value="hard">
            <label for="hard">Hard</label>
        </div>
        <div class="mb-3">
            <select name="#game">
                <option disabled selected># Game</option>
            {% for n in range(11) %}
                <option>{{n}}</option>
            {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">New Game</button>
    </form>
{% endblock %}
