{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
{% set dict_cat = ({"error":"alert alert-danger","success": "alert alert-success"}) %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ dict_cat[category] }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form action="/game" method="post">
    <div>
        <h4 class="inp_head">Sudoku # <input class="inp_fixed" type="number" name="game_number" value="{{res[0]['GAME_NUMBER']}}" readonly></h4>
        <h4 class="inp_head">Lifes: <input class="inp_fixed" type="number" name="life" value="{{opt}}" readonly></h4>
    </div>
    <table class="sudoku">
    {% set column_list = ['COL1','COL2','COL3','COL4','COL5','COL6','COL7','COL8','COL9'] %}
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        <tbody>
        {% for n in range(3) %}
        <tr>
            {% for i in range(9) %}
                {%if res[n][column_list[i]] == None or res[n][column_list[i]] == '' %}
                    <td><input type="number" name={{column_list[i] + (n+1)|string + (res[0]['GAME_NUMBER']) | string}} min="1" max="9"></td>
                {%else%}
                    <td id="tst" onclick="org_reg_submit()">{{res[n][column_list[i]]}}</td>
                {%endif%}
            {% endfor %}
        </tr>
        {% endfor %}
        <tbody>
        {% for n in range(3,6) %}
        <tr>
            {% for i in range(9) %}
                {%if res[n][column_list[i]] == None or res[n][column_list[i]] == '' %}
                <td><input type="number" name={{column_list[i] + (n+1)|string + (res[0]['GAME_NUMBER']) | string}} min="1" max="9"></td>
                {%else%}
                    <td id="tst" onclick="org_reg_submit()">{{res[n][column_list[i]]}}</td>
                {%endif%}
            {% endfor %}
        </tr>
        {% endfor %}
        <tbody>
        {% for n in range(6,9) %}
        <tr>
            {% for i in range(9) %}
                {%if res[n][column_list[i]] == None or res[n][column_list[i]] == '' %}
                <td><input type="number" name={{column_list[i] + (n+1)|string + (res[0]['GAME_NUMBER']) | string}} min="1" max="9"></td>
                {%else%}
                    <td id="tst" onclick="org_reg_submit()">{{res[n][column_list[i]]}}</td>
                {%endif%}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div>
        <button class="btn btn-primary" type="submit">Check Game</button>
    </div>
    <div>
        <input type="button"  value="Register" id="org_reg_submit_button" class="reg_input" maxlength="100" onclick="org_reg_submit()">
    </div>
</form>


<script>
  function org_reg_submit(){
        document.getElementById("tst").style.backgroundColor = 'red';
}
</script>

{% endblock %}