{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

{% set dict_cat = ({"error":"alert alert-danger","success": "alert alert-success"}) %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ dict_cat[category] }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">#</th>
            <th class="text-start">Level</th>
            <th class="text-end">Status</th>
            <th class="text-end">Time spent</th>
        </tr>
    </thead>
   <tbody>
</table>
{% endblock %}