{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

{%- if flash.any? %}
  {%- flash.keys.each do |flash_key| %}
    {%- next if flash_key.to_s == 'timedout' %}
    <div class="alert-message {%= flash_key %}">
      <a class="close" data-dismiss="alert" href="#"> x</a>
      {%= flash.discard(flash_key) %}
    </div>
  {%- end %}
{%- end %}

{% set dict_cat = ({"error":"alert alert-danger","success": "alert alert-success"}) %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ dict_cat[category] }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">#</th>
            <th class="text-start">Level</th>
            <th class="text-end">Status</th>
            <th class="text-end">Time spent</th>
        </tr>
    </thead>
   <tbody>
</table>
{% endblock %}