/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Sergio classes*/


.inp_head{
    display:inline-block;
    margin-bottom: 10px;
    text-align:center;
}

.inputed{
    color: gray;
}


button {margin-top:10px;}

.error {
    color: black;
    background-color: rgba(201, 76, 76, 0.3);
    padding: 10px;
}

.success {
    color: black;
    background-color: rgba(76, 201, 76, 0.3);
    padding:10px;
}

.inp_fixed{
    text-align:left;
}

form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    text-align:center;
  }

/*table CSS*/
.sudoku{ border-collapse: collapse; font-family: Calibri, sans-serif; font-size: 2em; align:center;  margin-left: auto;
    margin-right: auto}

colgroup, tbody { border: solid medium; }

td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }

.tst{
    
}